@model COVID_19_Hadasim_.Models.Member

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberMobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberMobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositiveRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecoveryDate)
        </dd>
    </dl>
</div>
@if (ViewBag.vaccines != null && ViewBag.vaccines.Count > 0)
{
    <div>
        <h4>Vaccines</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Vaccine Number</th>
                    <th>Vaccine Date</th>
                    <th>Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vaccine in ViewBag.vaccines)
                {
                    <tr>
                        <td>@vaccine.VaccineNumber</td>
                        <td>@vaccine.VaccineDate.ToShortDateString()</td>
                        <td>@vaccine.VaccineManufacturer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
