@model IEnumerable<COVID_19_Hadasim_.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-8 mt-2">
        <form class="d-flex" asp-action="Index" asp-controller="Members" method="get">
            <div class="input-group">
                <input class="form-control form-control-sm me-sm-2" type="search" placeholder="Search by Family Name or ID" name="searchString">
                <button class="btn btn-secondary btn-sm" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <a href="@Url.Action("Details", "Members", new { id = item.Id })" class="card-link">
                <div class="card border-primary">
                    <img src="@item.MemberImage" alt="Member Image" class="card-img-top" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.MemberFirstName) @Html.DisplayFor(modelItem => item.MemberLastName) (ID: @Html.DisplayFor(modelItem => item.MemberId))
                        </h5>
                        <div class="btn-group" role="group" aria-label="Member Actions">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-info">Delete</a>
                            <a href="@Url.Action("AddVaccine", "Members", new { id = item.Id })" class="btn btn-sm btn-success">Add Vaccine</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Create New Member</h5>
                <p class="card-text">Click the button below to create a new member.</p>
                <a asp-action="Create" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</div>


