@model IEnumerable<COVID_19_Hadasim_.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberMobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositiveRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecoveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberMobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositiveRes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecoveryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
