@model IEnumerable<COVID_19_Hadasim_.Models.Vaccine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineManufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineManufacturer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
